Api-Clima-n8n.json
{
  "name": "Proyecto IA",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6106f67d-ab63-4efb-b912-ff2ead1a672a",
              "name": "Lugar de origen",
              "value": "={{ $json.body['Lugar de origen'] }}",
              "type": "string"
            },
            {
              "id": "db1e8800-130a-4fc3-9e96-8e8b56f41b7c",
              "name": "Destino",
              "value": "={{ $json.body.Destino }}",
              "type": "string"
            },
            {
              "id": "e73063bb-a90b-49f3-b2a0-533c386c7562",
              "name": "Dia de viaje",
              "value": "={{ $json.body['Dia de viaje'] }}",
              "type": "string"
            },
            {
              "id": "2977e8c7-df2d-4a54-9608-2df8528ab852",
              "name": "Metodo de transporte",
              "value": "={{ $json.body['Metodo de transporte'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        576
      ],
      "id": "5a3d289a-1c6d-46da-8f5b-ff3bc0e60524",
      "name": "Nombrar variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Nombrar variables').item.json['Metodo de transporte'] }}",
                    "rightValue": "Carro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00cd86a6-6777-46d6-acc0-b3ab3d451b2d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0db3721b-1ced-4978-bd97-405d7bcfa533",
                    "leftValue": "={{ $('Nombrar variables').item.json['Metodo de transporte'] }}",
                    "rightValue": "Moto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "281cfe6b-8dd0-41dc-a85e-62edf65b5f7a",
                    "leftValue": "={{ $('Nombrar variables').item.json['Metodo de transporte'] }}",
                    "rightValue": "A pie",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1584,
        544
      ],
      "id": "6770e019-3ecb-46d0-8e1c-af958a443477",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openrouteservice.org/v2/directions/driving-car/geojson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjIyYzQ3ZmE2ZjIxMjRjM2Y4Zjk1ZGIwNmVjYmYwZTMyIiwiaCI6Im11cm11cjY0In0="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"coordinates\": [\n      [\n        {{ $('Obtener origen').item.json.features[0].geometry.coordinates[0] }},\n        {{ $('Obtener origen').item.json.features[0].geometry.coordinates[1] }}\n      ],\n      [\n        {{ $('Obtener destino').item.json.features[0].geometry.coordinates[0] }},\n        {{ $('Obtener destino').item.json.features[0].geometry.coordinates[1] }}\n      ]\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1360,
        336
      ],
      "id": "34ba9def-89a7-4140-909d-806a71426996",
      "name": "Obtener Ruta Carro"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openrouteservice.org/v2/directions/cycling-regular/geojson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjIyYzQ3ZmE2ZjIxMjRjM2Y4Zjk1ZGIwNmVjYmYwZTMyIiwiaCI6Im11cm11cjY0In0="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"coordinates\": [\n      [\n        {{ $('Obtener origen').item.json.features[0].geometry.coordinates[0] }},\n        {{ $('Obtener origen').item.json.features[0].geometry.coordinates[1] }}\n      ],\n      [\n        {{ $('Obtener destino').item.json.features[0].geometry.coordinates[0] }},\n        {{ $('Obtener destino').item.json.features[0].geometry.coordinates[1] }}\n      ]\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        544
      ],
      "id": "a94ef947-fb60-45e1-8b74-0b207a796140",
      "name": "Obtener Ruta Moto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openrouteservice.org/v2/directions/foot-walking/geojson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjIyYzQ3ZmE2ZjIxMjRjM2Y4Zjk1ZGIwNmVjYmYwZTMyIiwiaCI6Im11cm11cjY0In0="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"coordinates\": [\n      [\n        {{ $('Obtener origen').item.json.features[0].geometry.coordinates[0] }},\n        {{ $('Obtener origen').item.json.features[0].geometry.coordinates[1] }}\n      ],\n      [\n        {{ $('Obtener destino').item.json.features[0].geometry.coordinates[0] }},\n        {{ $('Obtener destino').item.json.features[0].geometry.coordinates[1] }}\n      ]\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1328,
        720
      ],
      "id": "2bcc5825-c38d-4684-8d1f-249a12233f43",
      "name": "Obtener Ruta A pie"
    },
    {
      "parameters": {
        "url": "https://api.openrouteservice.org/geocode/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json['Lugar de origen'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjIyYzQ3ZmE2ZjIxMjRjM2Y4Zjk1ZGIwNmVjYmYwZTMyIiwiaCI6Im11cm11cjY0In0="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2000,
        448
      ],
      "id": "9383e7d3-c6dd-45d4-856e-021eaf8844f0",
      "name": "Obtener origen"
    },
    {
      "parameters": {
        "url": "https://api.openrouteservice.org/geocode/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.Destino }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjIyYzQ3ZmE2ZjIxMjRjM2Y4Zjk1ZGIwNmVjYmYwZTMyIiwiaCI6Im11cm11cjY0In0="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2000,
        624
      ],
      "id": "4c605922-24ee-4c78-b9c6-df7f0fb14b8b",
      "name": "Obtener destino"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1776,
        560
      ],
      "id": "6c55ab66-6b30-44da-ab1f-c7d86c69fc00",
      "name": "Unir obtención de coordenadas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -832,
        528
      ],
      "id": "1a80db6b-87dc-4fdb-992d-cc9096cf49e6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.latitud }}&longitude={{ $json.longitud }}&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        544
      ],
      "id": "df023e63-890c-4083-a438-fa7513224927",
      "name": "Consultar clima individual"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres un carismático y experto copiloto de viajes. Tu trabajo es analizar el clima de una ruta por carretera y entregar un reporte ágil, útil y con excelente vibra.\n\nCONTEXTO QUE RECIBIRÁS:\n- Hora local (para saludar correctamente: Buenos días, tardes o noches).\n- Nombre del conductor.\n- Lista de temperaturas en la ruta (Punto 1 es Origen -> Punto 5 es Destino).\n- Lista de códigos meteorológicos WMO.\n- Medio de transporte.\n\nTRADUCCIÓN DE CLIMA Y LÓGICA DE RECOMENDACIONES (ESTRICTO):\n- Si hay 0 (Despejado ☀️): Sugiere gafas de sol, protector solar o usar el aire acondicionado.\n- Si hay 1, 2, 3 (Nublado ⛅): Sugiere ropa cómoda, destaca que es un clima agradable para manejar sin deslumbramientos.\n- Si hay 45, 48 (Niebla 🌫️): ADVERTENCIA. Pide encender luces exploradoras/bajas, reducir velocidad y aumentar distancia.\n- Si hay 51 a 65 (Lluvia 🌧️): Pide usar limpiaparabrisas, evitar frenadas bruscas y cuidado con el asfalto mojado. NUNCA sugieras gafas de sol aquí.\n- Si hay 80 a 99 (Tormenta ⛈️): ADVERTENCIA. Sugiere conducir con extrema precaución o hacer pausas.\n* NUNCA menciones los números de los códigos WMO al usuario.\n\nREGLAS ESPECÍFICAS POR MEDIO DE TRANSPORTE (OBLIGATORIO aplicar según el transporte recibido):\n- Si es CARRO:\n  * Menciona el aire acondicionado si hace calor.\n  * Si hay lluvia o tormenta sugiere limpiaparabrisas y precaución en el asfalto, NO paraguas.\n  * Si hay niebla sugiere luces bajas y reducir velocidad.\n  * Recomienda llevar una capa extra por el aire acondicionado en viajes largos.\n- Si es MOTO:\n  * SIEMPRE recomienda casco, chaqueta con protecciones y guantes sin excepción.\n  * Si hay lluvia o tormenta es CRÍTICO: recomienda impermeable para moto, reducir velocidad y aumentar distancia de frenado.\n  * Si hay niebla es MUY PELIGROSO: recomienda luces encendidas y velocidad muy reducida.\n  * Si hace calor recomienda ropa transpirable pero con protecciones.\n- Si es A PIE:\n  * Recomienda calzado cómodo e impermeable si hay lluvia.\n  * Si hay tormenta recomienda NO salir o buscar refugio.\n  * Si hace calor recomienda hidratación constante y protector solar.\n  * Si hay niebla recomienda ropa con colores visibles por seguridad.\n\nREGLAS DE VESTIMENTA POR TEMPERATURA (OBLIGATORIO incluir en los tips):\n- Menos de 10°C → recomienda abrigo grueso, bufanda y pantalón largo.\n- Entre 10°C y 17°C → recomienda chaqueta o suéter.\n- Entre 18°C y 25°C → recomienda ropa cómoda.\n- Más de 25°C → recomienda ropa ligera y fresca.\n- Si hay lluvia o tormenta → recomienda paraguas o impermeable (solo si NO es en carro).\n- Si hay viento fuerte → recomienda chaqueta cortavientos.\nSiempre basa la recomendación de vestimenta en la temperatura del ORIGEN y del DESTINO.\n\nREGLAS DE FORMATO:\n1. Usa SOLAMENTE etiquetas HTML <b>texto</b> para negritas. ESTÁ PROHIBIDO usar asteriscos (*).\n2. Sé cálido y directo.\n3. Resume la ruta en 2 líneas creando una pequeña historia del viaje.\n4. NUNCA uses saltos de línea con \\n. Usa ÚNICAMENTE etiquetas HTML:\n   <br> para saltos de línea y <b> para negritas.\n\nPLANTILLA ESTRICTA DE RESPUESTA:\n¡[Buenos días/tardes/noches] [Nombre]! 👋🚗\n<b>🌤️ El clima en tu ruta:</b>\n[Resumen narrativo y breve del clima y las temperaturas desde el origen hasta el destino]\n<b>🎒 Mis tips de copiloto para hoy:</b>\n- [Tip 1 lógico basado en el clima Y el medio de transporte]\n- [Tip 2 lógico basado en el clima Y el medio de transporte]\n- [Tip 3 lógico basado en el clima Y el medio de transporte]\n¡Conduce con seguridad y disfruta el camino! 🛣️\n\nDATOS ESTRUCTURADOS (OBLIGATORIO):\nAl final de tu respuesta, SIEMPRE agrega un bloque JSON con exactamente este formato, sin excepciones:\n\n%%DATA%%\n{\n  \"origin_temperature\": [temperatura del punto Origen en número],\n  \"destination_temperature\": [temperatura del punto Destino en número],\n  \"origin_condition\": \"[descripción del clima en el Origen en español, sin códigos WMO]\",\n  \"destination_condition\": \"[descripción del clima en el Destino en español, sin códigos WMO]\"\n}\n%%END%%\n\nREGLAS del bloque JSON:\n- Los valores de temperatura deben ser números, no texto. Ejemplo: 18.5, NO \"18.5°C\".\n- Las condiciones deben ser texto simple en español. Ejemplo: \"Despejado\", \"Lluvia ligera\", \"Nublado\".\n- El bloque %%DATA%% ... %%END%% va SIEMPRE después del reporte, sin excepción.\n- NUNCA omitas este bloque."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        208
      ],
      "id": "0537c420-01bb-44b7-b683-6915abcf6966",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Seguir proceso",
      "typeVersion": 1,
      "position": [
        -320,
        544
      ],
      "id": "f1e3cc0c-f616-4329-8388-ed3d12f1e9a4"
    },
    {
      "parameters": {
        "jsCode": "let entrada = $input.all()[0].json;\n\nlet rawData = entrada.body || entrada.data || entrada;\n\nlet parsedData;\nif (typeof rawData === 'string') {\n    parsedData = JSON.parse(rawData);\n} else {\n    parsedData = rawData; \n}\n\nlet rutaCompleta = parsedData.features[0].geometry.coordinates;\n\nlet totalPuntos = rutaCompleta.length;\nlet saltos = Math.floor(totalPuntos / 4);\nlet puntosClima = [];\n\npuntosClima.push({\n  json: {\n    nombre: \"Origen\",\n    longitud: rutaCompleta[0][0], \n    latitud: rutaCompleta[0][1]  \n  }\n});\n\npuntosClima.push({\n  json: {\n    nombre: \"Intermedio 1\",\n    longitud: rutaCompleta[saltos][0], \n    latitud: rutaCompleta[saltos][1] \n  }\n});\n\npuntosClima.push({\n  json: {\n    nombre: \"Intermedio 2\",\n    longitud: rutaCompleta[saltos * 2][0],\n    latitud: rutaCompleta[saltos * 2][1] \n  }\n});\n\npuntosClima.push({\n  json: {\n    nombre: \"Intermedio 3\",\n    longitud: rutaCompleta[saltos * 3][0], \n    latitud: rutaCompleta[saltos * 3][1] \n  }\n});\n\npuntosClima.push({\n  json: {\n    nombre: \"Destino\",\n    longitud: rutaCompleta[totalPuntos - 1][0],\n    latitud: rutaCompleta[totalPuntos - 1][1] \n  }\n});\n\nreturn puntosClima;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        528
      ],
      "id": "78dd4057-3059-4b76-8987-d8ecabf43c54",
      "name": "Obtener información especifica"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "current_weather.temperature",
              "renameField": true,
              "outputFieldName": "temperatura"
            },
            {
              "fieldToAggregate": "current_weather.weathercode",
              "renameField": true,
              "outputFieldName": "codigo_clima"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -688,
        208
      ],
      "id": "568ac89e-acd3-4f47-a910-685bcd36cacb",
      "name": "Agrupar datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ddb0265-c7e2-47f9-b64b-b94a914ab58c",
              "name": "chatInput",
              "value": "=Saludo a usar: {{ $now.setZone('America/Bogota').hour < 12 ? 'Buenos días' : $now.setZone('America/Bogota').hour < 19 ? 'Buenas tardes' : 'Buenas noches' }}\nNombre del viajero: Marcela \n\n--- DATOS DE LA RUTA ---\nTemperaturas: {{ $json.temperatura.join('°C, ') }}°C\nCódigos de clima: {{ $json.codigo_clima.join(', ') }}\nMedio de transporte: {{ $('Nombrar variables').item.json['Metodo de transporte'] }}\n---\nGenera el reporte siguiendo estrictamente tu plantilla y reglas lógicas.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        208
      ],
      "id": "5f534ba6-07e9-4b3d-ad0c-c8fe2ea5add1",
      "name": "Editar a chatinput"
    },
    {
      "parameters": {
        "chatId": "7926820081",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "403ca349-52ac-4f6a-8fbc-79f312a56b20",
      "name": "Enviar mensaje de recomendacion",
      "webhookId": "cf95ef1d-b935-4054-b0d1-02ec49b29b97",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "HwyHaUDfFLqT52Lb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clima-ruta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2432,
        576
      ],
      "id": "d6747907-a73d-4d9a-b89d-9058001aa12d",
      "name": "Webhook",
      "webhookId": "6011b413-d626-45ff-bd42-d2f20fcfe627"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Code in JavaScript').first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        208
      ],
      "id": "8dfdfaea-f7e2-4f63-a426-1ecacad255e9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        400
      ],
      "id": "d9cc8a90-cd96-462a-a87e-7fc03cbc19d0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6CblDursZYq0exun",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\n// Separar el reporte del bloque de datos\nconst dataMatch = raw.match(/%%DATA%%([\\s\\S]*?)%%END%%/);\nconst reporteHtml = raw.replace(/%%DATA%%[\\s\\S]*?%%END%%/, '').trim();\n\nlet datosClima = {\n  origin_temperature: null,\n  destination_temperature: null,\n  origin_condition: null,\n  destination_condition: null\n};\n\nif (dataMatch) {\n  datosClima = JSON.parse(dataMatch[1].trim());\n}\n\nreturn [{\n  json: {\n    output: reporteHtml,\n    origin_temperature: datosClima.origin_temperature,\n    destination_temperature: datosClima.destination_temperature,\n    origin_condition: datosClima.origin_condition,\n    destination_condition: datosClima.destination_condition\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        208
      ],
      "id": "f359e3ed-dfa2-4c12-b8f1-22f35d80bd4e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "weather_queries",
          "mode": "list",
          "cachedResultName": "weather_queries"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "recommended_clothes",
              "value": "={{ $json.output }}"
            },
            {
              "column": "origin",
              "value": "={{ $('Nombrar variables').item.json['Lugar de origen'] }}"
            },
            {
              "column": "destination",
              "value": "={{ $('Nombrar variables').item.json.Destino }}"
            },
            {
              "column": "travel_date",
              "value": "={{ $('Nombrar variables').item.json['Dia de viaje'] }}"
            },
            {
              "column": "transport",
              "value": "={{ $('Nombrar variables').item.json['Metodo de transporte'] }}"
            },
            {
              "column": "origin_temperature",
              "value": "={{ $json.origin_temperature }}"
            },
            {
              "column": "destination_temperature",
              "value": "={{ $json.destination_temperature }}"
            },
            {
              "column": "origin_condition",
              "value": "={{ $json.origin_condition }}"
            },
            {
              "column": "destination_condition",
              "value": "=={{ $json.destination_condition }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        336,
        208
      ],
      "id": "b07b2a9c-0e46-477f-ae5f-60573b29c756",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "WsaMXbprFOpmvkX6",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Nombrar variables": {
      "main": [
        [
          {
            "node": "Obtener origen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener destino",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Obtener Ruta Carro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Ruta Moto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Ruta A pie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener origen": {
      "main": [
        [
          {
            "node": "Unir obtención de coordenadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener destino": {
      "main": [
        [
          {
            "node": "Unir obtención de coordenadas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir obtención de coordenadas": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ruta Moto": {
      "main": [
        [
          {
            "node": "Obtener información especifica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ruta Carro": {
      "main": [
        [
          {
            "node": "Obtener información especifica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ruta A pie": {
      "main": [
        [
          {
            "node": "Obtener información especifica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Agrupar datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar clima individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar clima individual": {
      "main": [
        [
          {
            "node": "Seguir proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seguir proceso": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener información especifica": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar datos": {
      "main": [
        [
          {
            "node": "Editar a chatinput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar a chatinput": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Nombrar variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bcec6a37-f29f-4e70-8daa-00f56e375c3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7aad7444328742f49283e218461ddfdbd73a674370180adb34fe4daa1bd4351a"
  },
  "id": "sAvi1j9ytkBvVY10",
  "tags": []
}